.container {
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 0;
}

.bubbleIcon {
    background-image: var(--bubbles-url);
}

.lineIcon {
    background-image: var(--lines-url);
}