.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.buttonContent {
    width: 255px;
    height: 33px;
    margin: 8px;
    margin-left: 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.marginTitle{
    margin-top: 103px;
    margin-bottom: 30px;
}

.marginImage{
    margin-bottom: 47px;
}

.bubbleSize{

    width: 26px;
    height: 32px;
    bottom: 18%;
    left: 13px;
}

.lineSize{
    width: 30px;
    height: 125px;
    bottom: 21%;
    right: 0;
}