.bubbleIcon {
    width: 37px;
    height: 45px;
    margin-right: 40px;
    right: 0;
    top: 25%;
}

.lineIcon {
    width: 30px;
    height: 125px;
    right: 0;
    bottom: 25%;
}

.mainLogo {
    margin-bottom: 10px;
}

.button {
    margin-top: 70px;
}