.square {
    width: 239px;
    height: 236px;
    border: 1px solid var(--color-1);
    margin: 28px;
}

.bubbleIcon {
    width: 26px;
    height: 32px;
    bottom: 122px;
    left: 20px;
}

.lineIcon {
    width: 30px;
    height: 125px;
    right: 0;
    bottom: 30%;
}