.mainContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.courseContainer {
    width: 80vw;
    height: 65vh;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 0.8em;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    z-index: 2;
    overflow-y: scroll;
    background-color: #fff;
}


.button {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 15px;
}

.button button[name="quiz"] {
    background-color: #F4AB10;
}

.statusContainer {
    min-width: 34px;
    width: 34px;
    min-height: 34px;
    height: 34px;
    border: 0;
    margin-right: 11px;
    background-color: var(--color-1);
    border-radius: 8px;
}

.statusTrue {
    background-image: url("/images/icons/trueStatus.svg");
    background-size: cover;
}

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 15px;
}

.bubbleIcon {
    width: 26px;
    height: 32px;
    left: 20px;
    bottom: 18%;
}

.lineIcon {
    width: 30px;
    height: 125px;
    right: 0;
    bottom: 20%;
}